<section id="logo" class="my-4 px-6">
  <hgroup>
    <h1
      class="text-lg md:text-2xl font-bold bg-gradient-to-bl from-slate-100 to-blue-600 bg-clip-text text-transparent"
    >
      {{ envs.companyName
      }}<span
        class="text-lg md:text-2xl font-bold bg-gradient-to-bl from-slate-100 to-blue-600 bg-clip-text text-transparent"
        >{{ envs.companySecondName }}</span
      >.
    </h1>
    <p class="text-slate-500 text-sm">{{ envs.companySlogan }}</p>
  </hgroup>
</section>
<div id="profile" class="px-6 py-10">
  <p class="text-slate-500">Bienvenido,</p>
  <a
    href="https://github.com/Solomon90s"
    target="_blank"
    class="inline-flex space-x-2 items-center"
  >
    <span>
      <img
        class="rounded-full w-8 h-8"
        src="https://avatars.githubusercontent.com/u/123887322?v=4"
        alt="github"
      />
    </span>
    <span class="text-sm md:text-base font-bold"> JMHadga </span>
  </a>
</div>
