<!-- <section class="py-5">
  <gif-list [gifs]="gifService.trendingGifs()" />
</section> -->

<div
  class="h-screen overflow-y-scroll grid grid-cols-2 md:grid-cols-4 gap-4 pt-5"
  (scroll)="onScroll($event)"
  #groupDiv
>
  @for (group of gifService.trendingGifGroup(); track $index) {
  <div class="grid gap-4">
    @for (gif of group; track gif.id) {
    <div>
      <img
        loading="lazy"
        class="h-full animate-fade-down animate-duration-700 animate-ease-in w-full border-2 border-blue-950 rounded-lg object-cover"
        [src]="gif.url"
        [alt]="gif.title"
      />
    </div>
    }
  </div>
  }
</div>
